<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-5">

                <h1 class="mt-3 mb-3 container" style="color: rgb(27,27,82);">Online Banking</h1>
                <p class="text-start w-75 mb-3 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus odio deleniti illum eaque
                    accusantium perferendis, optio deserunt non? Quasi, est.</p>

                <img class="w-100 mb-3" src="https://i.postimg.cc/KjzymvBf/home.jpg" alt="">

            </div>

            <div class="col-md-6 bg-info text-center  mb-4 animate container  " data-animate="fadeInUp" style="border-radius: 20px;">
            
                <div class="list-group mt-5 p-5 ">
                    <!-- <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
                      The current button
                    </button> -->
                    <button type="button" class="list-group-item list-group-item-action p-4 ">view profile</button>
                    <button type="button" class="list-group-item list-group-item-action p-4 ">balance enquiry</button>
                    <button type="button" class="list-group-item list-group-item-action p-4 ">money transfer</button>
                    <button type="button" class="list-group-item list-group-item-action p-4 ">account statement</button>
                    <button type="button" class="list-group-item list-group-item-action p-4 ">delete account</button>
                    <button type="button" class="list-group-item list-group-item-action p-4 ">log out</button>


                  </div>
            </div>



        </div>

    </div>
</body>

</html>